# Rename this to .env

# Data source
TMDB_API_KEY=="***********"
TMDB_API_URL="https://api.themoviedb.org"

# Auth
NEXTAUTH_SECRET="***********"
NEXTAUTH_URL="***********"
GOOGLE_ID="***********"
GOOGLE_SECRET="***********"
